#contact h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 100;
    align-self: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.form1, .form2 {
    flex-basis: 30em;
    margin: 0 20px;
}

input, textarea {
    height: 3em;
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 20px;
}

textarea {
    height: 4em;
    width: 100%;
}

label, legend {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1em;
}

.button {
    background: #151515;
    color: rgb(255 255 255);
    font-weight: 200;
    font-size: 1em;
    text-transform: uppercase;
    height: 3em;
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 7px 1px #0000009e;
    border: 1px solid white;
}

