.p-container1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width:1450px) {
    .projectcontainer1 {
        flex-direction: column;
    }
}

#projects img {
    width: 100%;;
    
}

.p-img {
    transition: 0.2s ease;
}
.p-img:hover {
    transform: scale(1.05);
}
.p-box1 {
    display: flex;
    flex-direction: column;
    flex-basis: 34em;
    margin: 20px;
}

.p-box2 {
    flex-basis: 35em;
    margin: 20px;
}

#projects h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 100;
    align-self: center;
}

.block01 {
    margin-bottom: 20px;
}


.p-container2 {
    display: flex;
    justify-content: center;
}

.p-box4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 49em;
    margin: 20px;
}

.p-box3 {
    flex-basis: 33em;
    margin: 20px;
}